Child - Random generated number: <strong> {{randomGeneratedId}} </strong>
<br />
<app-user-card-component [user]="user" (onGeneratedId)="onGeneratedId($event)"></app-user-card-component>
<hr />
<h3>Async users from db</h3>
<mat-list role="list">
    @for (user of data$ | async; track user) {
    <mat-list-item role="listitem">{{ `${user.name} - ${user.email}` }}</mat-list-item>
    }
</mat-list>
<hr />
<h3>Email Form with validation</h3>
<form [formGroup]="emailForm" class="email-form" novalidate>

    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Email</mat-label>

        <input matInput type="email" formControlName="email" placeholder="Enter your email" />

        @if (emailForm.get('email')?.hasError('required')) {
        <mat-error>Email is required</mat-error>
        }

        @if (emailForm.get('email')?.hasError('email')) {
        <mat-error>Please enter a valid email address</mat-error>
        }
    </mat-form-field>
</form>
<hr/>
<h3>Truncate string (Limit 12)</h3>
<p>{{'Swpanil Sonkusare' | truncate:12}}</p>